/* CSS RESET */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
ul {
  list-style: none;
}

/*  BODY: ENTIRE PAGE */
body {
  font-family: 'Poppins', sans-serif;
  background-color: ##e1ede6;
  color: #1a1919;
}

/* ALL LINKS ON PAGE */
a {
  text-decoration: none;
  color: rgb(98, 148, 239);
  transition: all .2s ease-in-out;
}
a:hover {
  color: rgb(24, 74, 252);
}

/* ICONS */
i {
  min-width: 25px;
}
.fab.fa-fw.fa-twitter-square {
  color: #007bb6;
  text-align: left;
}
.fas.fa-fw.fa-graduation-cap {
  text-align: left;
}

.fab.fa-fw.fa-github {
  color: #171516;
  text-align: left;
}
.fab.fa-fw.fa-linkedin {
  color: #007bb6;
  text-align: left;
}

/* CONTAINERS */
.container  {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex-container {
  display: flex;
}

/* MOBILE: CONTAINERS */
@media(max-width: 850px) {
  .flex-container {
    flex-direction: column;
  }
}

/* NAVBAR (COMMENTED OUT IN HTML) */
.nav-container {
  padding: 0;
}
.nav-container ul {
  display: flex;
  margin-bottom: 40px;
}
.nav-container li {
  padding-right: 16px;
}

/* SIDEBAR / MAIN */
.sidebar {
  min-height: 100vh;
  width: 20%;
  padding: 80px 20px;
  position: fixed;
}
main {
  min-height: 100vh;
  width: 80%;
  padding: 80px 60px;
  margin-left: 25%;
}

/* MOBILE: SIDEBAR / MAIN */
@media(max-width: 850px) {
  .sidebar {
    min-height: unset;
    width: 100%;
    position: static;
    padding: 60px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    width: 100%;
    padding: 20px 40px;
    margin-left: 0;
  }
}

/* HEADSHOT IMAGE */
.headshot {
  width: 280px;
  height: 250px;
}

/* MOBILE: HEADSHOT IMAGE */
@media(max-width: 850px) {
  .headshot {
    width: unset;
    height: 300px;
  }
}

/* NAME UNDER IMAGE */
.sidebar h1 {
  font-family: 'Lora', serif;
  text-align: left;
  padding-bottom: 20px;
  font-size: 24.5px;
}

/* MOBILE: NAME UNDER IMAGE */
@media(max-width: 850px) {
  .sidebar h1 {
    padding-top: 20px;
  }
}

/* OTHER SIDEBAR STUFF */
.sidebar p {
  text-align: left;
  margin-bottom: 20px;
}
.sidebar li {
  padding: 6px 0;
}
.sidebar a {
  color: #333;
  transition: all .2s ease-in-out;
}
.sidebar a:hover {
  color: black;
}


/* EACH SECTION BOTTOM SPACING */
section {
  margin-bottom: 40px;
}

/* HOROZONTAL RULE */
section hr {
  margin-top: 40px;
}

/* EACH SECTION HEADER */
.section-header {
  font-family: 'Lora', serif;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.content p {
  margin-bottom: 20px;
  font-size: 17px;
}

/* PUBLICATIONS */
.publication {
  margin-bottom: 40px;
}
.publication .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}

.publication .author {
  margin-bottom: 12px;
    
}

.publication .citation {
  margin-bottom: 12px;
}

.publication-links {
  display: flex;
}

.publication-links li {
  margin-right: 6px;
}

/* WORKSHOPS */
.workshop {
  margin-bottom: 40px;
}
.workshop .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}

.workshop .author {
  margin-bottom: 12px;
    
}

.workshop .citation {
  margin-bottom: 12px;
}

.workshop-links {
  display: flex;
}

.workshop-links li {
  margin-right: 6px;

/* DEPARTMENT SECTION */
.service{
  margin-bottom: 40px;
}

section {
  margin-bottom: 40px;
}

.section-header {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}
